body{
    background-color:#3A3735
}

.navbar{
    display:flex;
    color:white;
    font-family: Helvetica, 'Times New Roman';
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo:hover{
    cursor:pointer;
}
.nav-links {
    position:absolute;
    left:50%; /*moves words to the middle of the screen*/
    transform: translateX(-50%); /*if only this, does not stay in viewport in small windows*/
    font-size:20px;
}
.nav-links ul{
    display:flex;
    list-style-type: none; /*get rid of bullet points*/
    margin:0px;
    padding:0px;
}
.nav-links li{
    margin:0px 50px;  /*spreads the words apart*/
}
.nav-links li:hover{ /*larger text when hovering cursor over*/
    transform:scale(1.1);
    cursor:pointer;
}


.dropdown {/*make dropdown-menu relative to the text*/
    position:relative;
    display:inline-block;
}
.dropdown-menu {
    display: none; /*dropdown menu isn't visible*/
    list-style-type: none;
    position:absolute;
    top:100%; /*position directly below the 'Profile' */
    left:0px;
    background-color:blue;
    text-align:center;
    margin:0px;
    font-size:9px;
    min-width:90px;
    overflow-y:auto;
}

.dropdown .dropdown-menu #dropdown-item:hover{
    color:gold;
    background-color: #599593;
    font-family: Helvetica, 'Times New Roman';
    padding:3px 8px 3px;
    min-width:70px; /*size of the box*/
    z-index:1; /*make the dropdown appear above other content */
}

.dropdown:hover .dropdown-menu {
    display:block;
}
