body{
    background-color:#3A3735;
    font-family: Helvetica, sans-serif;
    color:white;
}

/*NAVIGATION BAR*/

.navbar{
    display:flex;
    color:white;
    font-family: Helvetica, 'Times New Roman';
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo:hover{
    cursor:pointer;
}
.nav-links {
    position:absolute;
    left:50%; /*moves words to the middle of the screen*/
    transform: translateX(-50%); /*if only this, does not stay in viewport in small windows*/
    font-size:20px;
}
.nav-links ul{
    display:flex;
    list-style-type: none; /*get rid of bullet points*/
    margin:0px;
    padding:0px;
}
.nav-links li{
    margin:0px 50px;  /*spreads the words apart*/
}
.nav-links li:hover{ /*larger text when hovering cursor over*/
    transform:scale(1.1);
    cursor:pointer;
}
.dropdown {/*make dropdown-menu relative to the text*/
    position:relative;
    display:inline-block;
}
.dropdown-menu {
    display: none; /*dropdown menu isn't visible*/
    list-style-type: none;
    position:absolute;
    top:100%; /*position directly below the 'Profile' */
    left:0px;
    background-color:#f1f1f1;
    text-align:center;
    font-size:9px;
    min-width:120px;
}
.dropdown-menu a {
    text-decoration:none;
    color:#242424;
}

.dropdown .dropdown-menu a:hover{ /*a instead of id */
    color:#242424;
    background-color: #d9d9d9;
    font-family: Helvetica, 'Times New Roman';
    min-width:120px; /*size of the box*/
    z-index:1; /*make the dropdown appear above other content */
}

.dropdown:hover .dropdown-menu {
    display:grid; /*not block*/
}
 /*END OF NAVIGATION BAR*/




 /*API IMPORT TRENDING*/

#trending-movies {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_item {
    margin: 0rem; /*space between top movie and bottom movies*/
    text-align: center;
    color:white; /*title and release text color*/
    font-weight:bolder;
    font-stretch:narrower;
    font-size: 25px; /*size of title and release text*/
    max-width:430px;
    padding:0px;
}

.title {
    margin-top:-20px;
}

.movie_img_rounded {
    width:100%;
    border-radius:1.5rem;
    transform: scale(0.8,0.8); /*change size of the movie img*/
}
 /*END OF API IMPORT TRENDING*/